.AppButton {
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  background: #fff;
  text-transform: uppercase;
  &:focus, &:active {
    outline: none;
  }
  &:hover {
    background-color: #ffd307;
  }
}
